extends layout

block content
  h1= title
  p Welcome to #{title}
  div.input-group(style="width: 40%")
    span.input-group-addon(id="basic-addon1")
      |From
    input.form-control(type="text", placeholder="Enter Source Location", aria-describedby="basic-addon1", id="source", onkeypress="updateSource()")
  br
  div.input-group(style="width: 40%")
    span.input-group-addon(id="basic-addon2")
      | Destination
    input.form-control(type="text", placeholder="Enter Destination Location", aria-describedby="basic-addon2", id="destination", onkeypress="updateDestination()")
  br
  button.btn.btn-success(type="button", onclick="parseCommand()")
    |Enter Command
  br
  br
  button.btn.btn-danger(type="button", onclick="loadHousing()")
    |Load Housing

