extends layout

block content
  h1= title
  p Welcome to #{title}
  textarea(id="command", cols="80", rows="1")
  br
  input.ui.red.inverted.button(type="button", onclick="parseCommand()", value="Enter Command")
  br
  br
  input.ui.blue.inverted.button(type="button", onclick="loadHousing()", value="Load Housing")

