doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='semantic/dist/semantic.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet")
    script(src="javascripts/jquery-1.11.2.min.js")
    script(src="bootstrap/dist/js/bootstrap.min.js")
    script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyD7-NZHzbI_U-D4lfiq7W8-CkJlPKSvNKU")
    script(src="javascripts/voice.js")
    script(src="javascripts/util.js")
  body
    block content